.random-sentence-box {
  display: flex;
  flex-direction: column;
  min-height: 3em;
}

.clear-button {
  padding-right: 50px;
  align-self: flex-end;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.2em;
}
