.user-item {
  display: flex;
  border-style: solid;
  border-width: thin;
  border-color: black;
  margin: 5px;
  width: auto;
}

.user-name {
  padding: 10px 30px 10px 30px;
}

.user-age {
  padding: 10px 30px 10px 30px;
}
