.App {
  text-align: center;
  background-color: #282828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calculator-card {
  min-height: 40vh;
  background-color: #3500d3;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* justify-content: space-between; */
}

.calculator-screen {
  font-family: "Orbitron", sans-serif;
  background-color: #0c0032;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  text-align: right;
}

.calculator-operations {
  padding-top: 5px;
  font-size: small;
}

.calculator-result {
  padding-bottom: 5px;
}

.calculator-pad {
  border-radius: 3px;
  display: flex;
  background-color: #190061;
}

.calculator-numbers {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.number-buttonM {
  grid-column-start: 1;
  grid-column-end: 3;
}

.calculator-operators {
  display: grid;
}
